@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
// Global Color
$color-white: #ffffff;
$color-black: #141313;
$color-gray: #6C6868;
$color-border: #bdbdbd;
$bg-button: linear-gradient(to right, #ed213a, #93291e);
$bg-button-2: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
$color-bg: #0f172a;

// Font Family
$font-family: 'Nunito Sans',
sans-serif;
$border-radius: 8px;
// Font Weight
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;