* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-size: 14px !important;
  line-height: 20px !important;
  background-color: $color-bg !important;
}

:where(*) {
  font-family: 'Nunito Sans', sans-serif !important;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  transition: all 0.5s ease-in-out 0s;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 720px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1300px;
  }
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.d-grid {
  display: grid;
}

.grid-template-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-template-3 {
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.gap {
  gap: 40px;
  row-gap: 45px;

  @media (max-width: 850px) {
    gap: 25px;
  }
}

.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &-2 {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

.page {
  margin: 70px 0;

  @media (max-width: 767px) {
    margin: 50px 0;
  }
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-20 {
  width: 20%;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #0f172afa;
  top: 0;
  left: 0;
  z-index: 99999999;

  &-inner {
    height: 0;
    width: 0;
    padding: 15px;
    border: 3px solid $color-white;
    border-right-color: #88888842;
    border-radius: 22px;
    -webkit-animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 22px;
    margin: -22px 0 0 -22px;
  }
}

.skeleton {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
  background-size: 400% 100%;
  animation-name: skeletonloading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes skeletonloading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: $bg-button-2;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}